<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/applyexam">
  <table width="900" border="1">
    <tr>
      <th scope="col">Exam Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Date</th>
      <th scope="col">&nbsp;</th>
    </tr>
    {% for d in val %}
    <tr>
      <td>{{d[2]}}&nbsp;</td>
      <td>&nbsp;{{d[0]}}</td>
      <td>&nbsp;{{d[5]}}</td>
      <td><a href="{{url_for('applay_exam1',id=d[1])}}">Apply</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
