<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends 'collegeindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="center">

    <!--<p><a href="course">Courses</a></p>-->
    <!--<p><a href="subject">Subjects</a></p>-->
    <!--<p><a href="stdapproval">Students Approval</a></p>-->
    <!--<p><a href="examc">Exam Controller Registration</a></p>-->
    <!--<p><a href="staffreg">Staff Registration</a></p>-->

  </div>
</form>
{% endblock %}
</body>
</html>
