<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'controllerindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="257" border="1">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Register Number</th>
        <th scope="col">Month&Year of Pass</th>
        <th scope="col">Hall Ticket</th>
        <th scope="col">&nbsp;</th>

      </tr>
      {% for row in val %}
      <tr>
        <td>{{ row[5] }}{{ row[6] }}</td>
        <td>&nbsp;{{ row[7] }}</td>
        <td> {{ row[2] }}&nbsp;</td>
        <td><img src="../static/hallticket/{{ row[3] }}" height="100" width="100">&nbsp;</td>
        <td><a href="{{ url_for('hallticketapprove',id=row[0]) }}">Approve</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</form>
</body>
{% endblock %}
</html>
