<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'collegeindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/staffreg1">
  <table width="200" border="1">
    <tr>
      <th scope="row">First Name</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required pattern="[A-Z a-z0-9]{1,25}" /> </td>
    </tr>
    <tr>
      <th scope="row">Last Name</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required /></td>
    </tr>
    <tr>
      <th scope="row">Father Name</th>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" required /></td>
    </tr>
    <tr>
      <th scope="row">Address</th>
      <td><label for="textfield3"></label>
        <label for="textarea2"></label>
      <textarea name="textarea2" id="textarea2" cols="45" rows="5" required ></textarea></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><input type="radio" name="radio" id="radio" value="Male" checked />
      <label for="radio">Male
        <input type="radio" name="radio" id="radio" value="Female" />
      Female</label></td>
    </tr>
    <tr>
      <th scope="row">Date of Birth</th>
      <td><label for="textarea"></label>
        <label for="textfield3"></label>
      <input type="date" name="textfield3" id="textfield3" required /></td>
    </tr>
    <tr>
      <th scope="row">Qualification</th>
      <td><label for="checkbox">
        <input type="checkbox" name="checkbox" id="checkbox3" value="Degree"/>
      Degree
      <input type="checkbox" name="checkbox" id="checkbox4" value="PG" />
      PG
      <input type="checkbox" name="checkbox" id="checkbox5" value="PhD" />
    PhD</label></td>
    </tr>
    <tr>
      <th scope="row">Date of Joining</th>
      <td><label for="textfield4"></label>
      <input type="date" name="textfield4" id="textfield4" required /></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" required pattern="{6789}{0-9}{9}" /></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  /></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><label for="select"></label>
        <dl>
          <dt>
            <select name="select" id="select" required>
              <option>Tutor</option>
              <option>HOD</option>
            </select>
          </dt>
      </dl></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><div align="center">
        <input type="submit" name="button" id="button" value="Save" />
        <input type="submit" name="button2" id="button2" value="Cancel" />
      </div></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
</html>
