<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'studentindex.html' %}
{% block body %}
<body>

<form id="form1" name="form1" method="post" action="/answer">
  <div align="center">
      <table width="700" border="1">

          <tr>
          <th colspan="2" align="center">Questions</th>

          </tr>
          {% for row in data %}
          <tr>
              <td>{{ row[1] }}<input type="hidden" value="{{ row[0] }}" name="quesid" id="quesid" id=""></td>
          <td><textarea name="answer" id="answer"></textarea></td>
          </tr>
          {% endfor %}
          <tr><td colspan="2" align="center"><input type="submit" value="Finish"></td></tr>
      </table>

  </div>
</form>

</body>
{% endblock %}
</html>
